<!DOCTYPE html>
<html lang="en">
<head>
    <title>Star Wars Sales Site</title>
    <style type="text/css">
        #content {
			margin-left: 3em;
		}
    </style>
</head>
<body>
    <h1>Welcome to the Star Wars Starship Sales Site</h1>

	<div id="content">
    <p>

		<li><a href="/starships">See a list of all starships</a></li>
		<li><a href="/starshipinfo">See individual starship</a></li>
		<li><a href="/search">Search list by starship name</a></li>
		<li><a href="/prices">Sorted list of starships by price</a></li>
		<li><a href="/pricerange">Filter list by price</a></li>
		<li><a href="/pilots">Pilots attached to individual starships</a></li>
		<br />

    </p>
	</div>

</body>
</html>
