<!DOCTYPE html>
<html lang="en">
<head>
    <title>Star Wars Sales Site</title>
</head>
<body>
    <h1>Welcome to the Star Wars Starship Sales Site</h1>

    <p>
    	The main features of the app are, from most important to least, are: <br /><br />

		<a href="/starships">0. See a list of all starships</a><br />
		0. See individual starship<br />
		0. Search list by ship name<br />
		0. Sort list by price<br />
		0. Filter list by price<br />
		0. See info on pilots attached to individual starships<br />

    </p>

</body>
</html>
