<!DOCTYPE html>
<html lang="en">
<head>
    <title>Star Wars Sales Site</title>
</head>
<body>
    <h1>Welcome to the Star Wars Starship Sales Site</h1>

    <p>

		<a href="/starships">0. See a list of all starships</a><br />
		<a href="/starshipinfo">0. See individual starship</a><br />
		<a href="/search">0. Search list by starship name</a><br />
		<a href="/prices">0. Sorted list of starships by price</a><br />
		<a href="/pricerange">0. Filter list by price</a><br />
		<a href="/pilots">0. Pilots attached to individual starships</a><br />
		<br />

    </p>

</body>
</html>
