<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pilots: </title>
</head>
<body>

    <h1>Welcome to the Star Wars Sales Site</h1>
    <h3>Pilots attached to individual starships</h3>

    {% for ship, pilots in ship_pilot.iteritems() %}
          <dt><b>{{ship}}</b> Starship</dt>
          {% for pilot in pilots %}
              <dd>Pilot: <i>{{pilot.decode('utf-8')}}</i></dd>
          {% endfor %}
    {% endfor %}

    <p> 
        <a href="/">Click to go back to the main page</a><br />
    </p>

</body>
</html>
